<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Minerva</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>servlet.ReqListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>openidlogin</servlet-name>
    <servlet-class>servlet.OpenIDLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>openidlogin</servlet-name>
    <url-pattern>/openidlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mail</servlet-name>
    <servlet-class>servlet.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mail</servlet-name>
    <url-pattern>/mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadimage</servlet-name>
    <servlet-class>servlet.UploadImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadimage</servlet-name>
    <url-pattern>/uploadimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>storeuserinfo</servlet-name>
    <servlet-class>servlet.StoreUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>storeuserinfo</servlet-name>
    <url-pattern>/storeuserinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addtopic</servlet-name>
    <servlet-class>servlet.AddTopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtopic</servlet-name>
    <url-pattern>/addtopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAsMentorServlet</servlet-name>
    <servlet-class>servlet.AddAsMentorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAsMentorServlet</servlet-name>
    <url-pattern>/AddAsMentorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAsTraineeServlet</servlet-name>
    <servlet-class>servlet.AddAsTraineeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAsTraineeServlet</servlet-name>
    <url-pattern>/AddAsTraineeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addfeedback</servlet-name>
    <servlet-class>servlet.AddFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfeedback</servlet-name>
    <url-pattern>/addfeedback</url-pattern>
  </servlet-mapping>
</web-app>